* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    text-align: center;
    padding: 20px;
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: rebeccapurple;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}