* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    text-align: center;
    padding: 20px;
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
}

header nav {
    text-align: center;
}

header nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

header nav ul li > a {
    display: inline-block;
    padding: 5px 3px;
    background-color: lightcoral;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 2px;
    text-decoration: none;
}

footer {
    text-align: center;
    color: rebeccapurple;
}